#addDosageContainer {
    background-color: lightgrey;
    height: 85vh;
    width: 20vw;
    position: absolute;
    top: 5vh;
}
.addDosageContainerInput {
    font-size: 20px;
    border: none;
    color: white;
    background-color: #315399;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    display: block;
    margin-top: -2vh;
}
#addDosageContainer > div {
    margin-top: 2vh;
}

.yellowBackground {
    background-color: yellow;
    color: black;
}
.greenBackground {
    background-color: lightgreen;
    color: black;
}
.redBackground {
    background-color: lightcoral;
    color: black;
}
.blueBackground {
    background-color: lightblue;
    color: black;
}
.purpleBackground {
    background-color: mediumpurple;
    color: white;
}

#exampleContainer {
    background-color: lightgrey;
    height: 85vh;
    width: 20vw;
    position: absolute;
    top: 5vh;
    left: 48vh;
}

#deleteDosageContainer {
    background-color: lightgrey;
    height: 85vh;
    width: 20vw;
    position: absolute;
    top: 5vh;
    left: 96vh;
}

#deleteDosageButton{
    margin-top: 5vh;
    text-align: center;
    border: none;
    color: white;
    background-color: #315399;
    height: 7vh;
    width: 20vw;
    display: inline-block;
    outline: none;
    font-size: 18px;
}

#addDosageButton {
    margin-top: 5vh;
    text-align: center;
    border: none;
    color: white;
    background-color: #315399;
    height: 7vh;
    width: 20vw;
    display: inline-block;
    outline: none;
    font-size: 18px;
}